<%-include('./partials/header')%> <%-include('./partials/navbar')%>
<div class="main_div">
  <div class="row">
    <div class="col-8">
      <div id="option">
        <ul>
          <li><a href="/login" onclick="prev()">Login</a></li>
          <li><a href="/register" onclick="next()">Register</a></li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="container">
        <img src="img/image.jpg" alt="Women writing in diary" />
      </div>
    </div>
  </div>
</div>

<%-include('./partials/footer')%>
