<footer>
    <div class="footer-content">
        <h3>Secreto_352</h3>
        <p>about</p> 
        <ul class="socials">
            <li><a href="https://www.linkedin.com/in/bansi-patel-156a63195/" target="_blank"><span class="iconify-inline" data-icon="entypo-social:linkedin-with-circle" data-width="30" data-height="30"></span></a></li>
            <li><a href="https://www.linkedin.com/in/shivani-gurbani-1ab0b41b5" target="_blank"><span class="iconify-inline" data-icon="entypo-social:facebook-with-circle" data-width="30" data-height="30"></span></a></li>
            <li><a href="https://www.linkedin.com/in/shreyashree-dasgupta-7026b01b4" target="_blank"><span class="iconify-inline" data-icon="entypo-social:twitter-with-circle" data-width="30" data-height="30"></span></a></li>
            <li><a href="https://www.linkedin.com/in/khushi-malviya-0694a319b" target="_blank"><span class="iconify-inline" data-icon="entypo-social:instagram-with-circle" data-width="30" data-height="30"></span></a></li>
            <li><a href="https://github.com/Bansi32/Secreto_352" target="_blank"><span class="iconify-inline" data-icon="entypo-social:github-with-circle" data-width="30" data-height="30"></span></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy;2021 Designed by team Secreto_352</p>
    </div>
</footer>
<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>
